<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapArchitect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F9841342CA544A400257F27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD4D9FF2C7DAEC100A0279D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD4DA132C7DAEC300A0279D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD4DA1D2C7DAEC300A0279D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
